$color-primary: red;
$color-1: #52ab9b;
$color-2: #fff;

//typography color
$primary-text-color: #595959;
$secondery-text-color: #3d3d3d;
$tersiary-text-color: #4f4f4f;
$quaternary-text-color: #fff;

//grid
$grid-column-width: 8rem;
$grid-column-gap: 2rem;
$grid-row-gap: 4rem;
$grid-body-gap: 4rem;
